<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />

<body>

<!-- Static navbar -->
<div th:replace = "common/header :: navbar" />

<div class="container">
    <div class="row">

        <!--carousel-->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="/image/wildlands.jpg" alt="..."/>
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="/image/destiny-2.jpg" alt="..."/>
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="/image/injustice-2.jpg" alt="..."/>
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="/image/uncharted-4.jpg" alt="..."/>
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="/image/mass-effect.png" alt="..."/>
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="/image/horizon.jpg" alt="..."/>
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <hr />

    <div class = "row">
        <div class = "col-xs-5">
            <div class = "panel panel-default">
                <div class = "panel-body image">
                    <img src = "/image/witcher3.jpg" class = "img-responsive" />
                    <div class="deals">
                        <h2>Deal of the Day</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class = "col-xs-0"></div>
        <div class = "col-xs-7">
            <div class = "panel panel-default">
                <div class = "panel-body top-deal">
                    <img src = "/image/top.jpg" class = "img-responsive" />
                    <div class="top">
                        <h2>Best Sellers</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div>
        <div class = "home-headline"><span>Featured Products and Offers</span></div>
        <hr style="margin-top: 0px;"/>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>